<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>刷脸签到系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/my.css">
    <style>
        .container{
            width: 30%;
        }
    </style>
</head>
<body>
<header class="col-xs-12 navbar navbar-default">
    <div class="navbar-header">
		<a class="navbar-brand" href="#">修改密码</a>
	</div>
	<div class="rr">
            <ul class="nav navbar-nav">
                <li><a  href="{{ url_for('student.home') }}">返回首页</a></li>
            </ul>
    </div>
</header>


<div class="container">
    <div style="height: 100%">

    </div>
    <form action="{{ url_for('student.update_password') }}" method="post">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">学&nbsp&nbsp号</div>
                <input type="text" class="form-control" name="username" value="{{ student.s_id }}"  onblur="" autocomplete="off" readonly>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">姓&nbsp&nbsp名</div>
                <input type="text" class="form-control" name="username" value="{{ student.s_name }}"  onblur="" autocomplete="off" readonly>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">旧密码</div>
                <input type="password" name="mm" id="hidMm" style="display:none" >
                <input type="text" class="form-control" name="old" id="mm"  autocomplete="new-password"  onfocus="this.type='password'">
                <input type="password" style="display:none;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">新密码</div>
                <input type="password" name="mm" id="hidMm" style="display:none" >
                <input type="text" class="form-control" name="new" id="mm"  autocomplete="new-password"  onfocus="this.type='password'">
                <input type="password" style="display:none;">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 40%">提交</button>
        </div>
        <div class="form-group">
            {% for message in get_flashed_messages() %}
                <div class="flash alert alert-danger" role="alert" id="dlktsxx">{{ message }}</div>
            {% endfor %}
        </div>
    </form>
</div>


</body>
</html>